@model IEnumerable<lab8_mvc_net.Models.clientes>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<div style="display: flex; justify-content: space-between">
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <div style="display: flex; gap: .1rem; align-items: center">
        <input id="companyName" />
        <button id="search" type="submit">Search</button>
    </div>

</div>

<table class="table" id="clientesTable">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.NombreCompañia)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NombreContacto)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CargoContacto)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Direccion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Ciudad)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Region)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CodPostal)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Pais)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Telefono)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Fax)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NombreCompañia)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NombreContacto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CargoContacto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Direccion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ciudad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Region)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CodPostal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Pais)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Telefono)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Fax)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.idCliente }) |
                @Html.ActionLink("Details", "Details", new { id = item.idCliente }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.idCliente })
            </td>
        </tr>
    }

</table>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function () {
        $("#search").click(function () {
            var companyName = $("#companyName").val();
             $.ajax({
                url: "@Url.Action("Search", "clientesController")",
                type: "GET",
                data: { companyName: companyName },
                success: function (result) {
                    $("#clientesTable").html(result);
                },
                error: function (xhr, status, error) {
                    console.log(error);
                }
            });
        });
    });
</script>
